<!DOCTYPE html>
<html lang="en">
<head>
	<title>Zena Roses </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
	<meta name="description" content="Grower and world supplier of cut flowers,  kenya">
    <meta name="keywords" content="scepter, fabrication, fabricators.com welding, eldoret, north rift, engineering, excellent, western kenya, kenya">
    <link rel="icon" href="./static/img/scepter_logo_1.png">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive_topnav.css">
	<link rel="stylesheet" type="text/css" href="../static/css/about.css">
</head>
<body>
	<header id="header">
		<div class="container-support">
			<a href="#" target="_blank">Linkedin</a>
			<a href="#" target="_blank">Twitter</a>
			<a href="#" target="_blank">Facebook</a>
			<a href="#">Instagram</a>
		</div>
		<div class="container-header">
			<div id="logo-image">
				<a href="index.html"> <img src="../static/img/zena_logo.png"></a>
			</div>
			<div corporate-name>
				<h4>Zena Roses</h4>
			</div>
			<nav id="nav-bar" class="top-nav">
				<a href="#" class="close-menu">&times;</a>
				<a href="../index.html" class="active">Home</a>
				<a href="./about.html">About</a>
				<a href="./products.html">Products</a>
				<a href="./contacts.html">Contacts</a>
			</nav>
			<div class="icon-menu" id="icon-menu">Menu &#9776;</div>
		</div>
	</header>
	<main id="about-main">
		<section id="about-main-section">
			<div class="farms about-intro">
				<h1>About Us</h1>
				<p>
					Zena Roses is grower and world supplier of cut flower.
					We have two farms - Asai and Sosiani - both located in Uasin Gishu county, Kenya.
					Among other plants, we cultivate are standard roses, spray roses, Crysanthemums, Gypsophila, Rosemary and Eucalyptus.
				</p>
			</div>
			<div class="farms">
				<div class="about-text-box">
					<h3>Sosiani farm</h3>
					<p>
						Sosiani Farm was started in March 2004. It is located in Uasin Gishu, about 12 km south east of Eldoret town. It produces T-Hybrid roses, premium spray roses and crysanthemums. 
					</p>
					<p>
						Other plants produced are rosemary, eucalyptus, alstromerias, gypsophila, safi and alina.
					</p>
				</div>
				<div class="about-image-box">
					<img src="../static/img/zena_24.jpg">
				</div>
			</div>
			<div class="farms">
				<div class="about-text-box">
					<h3>Asai farm</h3>
					<p>
						Asai Farm is situated 17 km south east of Eldoret town. It was established in 2010 and it produces T-hybrid roses and premium spray roses.
					</p>
					<p>
						Other plants cultivated are rosemary and eucalyptus.
					</p>
				</div>
				<div class="about-image-box">
					<img src="../static/img/asai_00.jpg">
				</div>
			</div>
		</section>
	</main>
	<footer id="footer">
		<div class="footer-content social-links">
			<p>
				<a href="https://www.linkedin.com/company/37502874/admin/" target="_blank">Linkedin</a>
				<a href="https://twitter.com/scepterfab" target="_blank">Twitter</a>
				<a href="https://www.facebook.com/scepterfabricators/" target="_blank">Facebook</a>
			</p>
		</div>
		<hr>
		<div class="footer-content contact-address">
			<p>
				Zena Roses<br>
				Plateau, Eldoret, Off Nairobi - Nakuru Road,<br>
				P.O. Box 859 - 30100, Eldoret<br><br>
				sales@zenaroses.com &nbsp;|&nbsp;
				info@zenaroses.com <br>
				+254721452593 &nbsp;|&nbsp; +254723968788<br>
			</p>
		</div>
		<hr>
		<div class="footer-content copy-right">
			<p>
				Copy Right &copy 2020. All Rights Reserved.
			</p>

		</div>
	</footer>


	<script src="../static/js/main.js"></script>

</body>
</html>
