<!DOCTYPE html>
<html lang="en">
<head>
	<title>Zena Roses </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
	<meta name="description" content="Grower and world supplier of cut flowers,  kenya">
    <meta name="keywords" content="scepter, fabrication, fabricators.com welding, eldoret, north rift, engineering, excellent, western kenya, kenya">
    <link rel="icon" href="./static/img/scepter_logo_1.png">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive_topnav.css">
	<link rel="stylesheet" type="text/css" href="../static/css/contacts.css">
</head>
<body>
	<header id="header">
		<div class="container-support">
			<a href="#" target="_blank">Linkedin</a>
			<a href="#" target="_blank">Twitter</a>
			<a href="#" target="_blank">Facebook</a>
			<a href="#" target="_blank">Instagram</a>
		</div>
		<div class="container-header">
			<div id="logo-image">
				<a href="index.html"> <img src="../static/img/zena_logo.png"></a>
			</div>
			<div corporate-name>
				<h4>Zena Roses</h4>
			</div>
			<nav id="nav-bar" class="top-nav">
				<a href="#" class="close-menu">&times;</a>
				<a href="../index.html" class="active">Home</a>
				<a href="./about.html">About</a>
				<a href="./products.html">Products</a>
				<a href="./contacts.html">Contacts</a>
			</nav>
			<div class="icon-menu" id="icon-menu">Menu &#9776;</div>
		</div>
	</header>
	<main id="contact-main">
		<section id="contacts-section">
			<h1>Get in touch with us: </h1>
			<div class="contacts-container">
				<div class="contact-img">
					<img src="../static/img/postal_img.png">
				</div>
				<div class="contacts-box contact-address">
					<p>
						Zena Roses<br>
						Plateau, Eldoret, Off Nairobi - Nakuru Road,<br>
						P.O. Box 859 - 30100, Eldoret<br><br>
					</p>
				</div>
			</div>
			<div class="contacts-container">
				<div class="contact-img">
					<img src="../static/img/call_img.png">
				</div>
				<div class="contacts-box contact-phone">
					<p>
						+254721452593 &nbsp;|&nbsp; <br>
						+254723968788 <br>
					</p>
				</div>
			</div>
			<div class="contacts-container">
				<div class="contact-img">
					<img src="../static/img/email_img.png">
				</div>
				<div class="contacts-box contact-email">
					<p>
						sales@zenaroses.com &nbsp;|&nbsp;
						info@zenaroses.com <br>
					</p>
				</div>
			</div>
		</section>
		<section id="map-section">
			<div class="g-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11284.53759187301!2d35.341928717435316!3d0.4657031700332575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1780fdaa2130164d%3A0xb4d1129bca0c663a!2sZenna%20Flower%20Farm!5e0!3m2!1sen!2ske!4v1608560042771!5m2!1sen!2ske" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
		</section>
	</main>
	<footer id="footer">
		<div class="footer-content social-links">
			<p>
				<a href="https://www.linkedin.com/company/37502874/admin/" target="_blank">Linkedin</a>
				<a href="https://twitter.com/scepterfab" target="_blank">Twitter</a>
				<a href="https://www.facebook.com/scepterfabricators/" target="_blank">Facebook</a>
			</p>
		</div>
		<hr>
		<div class="footer-content contact-address">
			<p>
				Zena Roses<br>
				Plateau, Eldoret, Off Nairobi - Nakuru Road,<br>
				P.O. Box 859 - 30100, Eldoret<br><br>
				sales@zenaroses.com &nbsp;|&nbsp;
				info@zenaroses.com <br>
				+254721452593 &nbsp;|&nbsp; +254723968788<br>
			</p>
		</div>
		<hr>
		<div class="footer-content copy-right">
			<p>
				Copy Right &copy 2020. All Rights Reserved.
			</p>

		</div>
	</footer>


	<script src="../static/js/main.js"></script>

</body>
</html>
